 
   :root {
   
   /* TEXT SCALE  */
    --text-sm: .875rem; 
    --text-md: 1.25; 
    --text-lg: 1.5rem; 
    --text-xl: 3rem; 

    /* SPACING SCALE */
    --space-4xl: 10rem; 
    --space-2xl: 5rem; 
    --space-xl: 2.5rem; 
    --space-lg: 2rem; 
    --space-md: 1.5rem; 
    --space-base: 1rem;
    --space-sm: 12px; 
    --space-xs: 8px; 

   }


body {
    background-color: #f5f5dc;
    width: auto; 
    height: auto; 
    margin-right: 0px; 
    margin-left: 0px; 
    margin-top: 0px; 
    margin-bottom: 0px;
}

h1 {
    font-size: 50pt; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    text-align: center;
    text-shadow: 5px 5px 5px white;
    
}

.doggo-image {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 50%;
    width: auto;  
  }

.biopics {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 20%; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    width: auto; 
}

.brown-background {
    background-color: #9b836d;
    padding-top: 113px; 
    padding-bottom: 113px;
    height: auto; 
    width: auto; 
}

.bio {
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic; 
    font-size: 20pt;
    margin-top: 100px; 
    margin-bottom: 100px; 
}


h2 {
    font-size: 30pt; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    text-align: center; 
    text-shadow: 5px 5px 5px black; 
    color: white;
}

#about-me {
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    font-size: 30pt;
    text-shadow: 5px 5px 5px white; 
    text-align: center;
}

.btn {
    display: inline-block; 
    margin: auto; 
    text-decoration: none; 
    border-radius: 9999px;
}
.btn-small {
    font-family: Arial, Helvetica, sans-serif; 
    font-style: italic; 
    font-weight: bold; 
    font-size: var(--text-lg);
    padding-top: var(--space-md);
    padding-bottom: var(--space-md);
    padding-left: var(--space-base); 
    padding-right: var(--space-base);
    color: white;
    text-shadow: 5px 5px 5px black;
}

.btn-outline {
    border: 2px solid white; 
    
}

.btn-background {
    background-color: #9b836d;
    padding-top: 113px; 
    padding-bottom: 113px;
    text-align: center; 
    width: auto; 
    height: auto; 
}

#blog-links {
    font-size: 30pt; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    text-align: center; 
    text-shadow: 5px 5px 5px black; 
    color: white;
}

.br-abt {
    padding: 200px 0px 200px 0px;
}

.fun-facts {
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    font-size: 20pt;
    text-decoration-line: underline; 
    font-weight: bold;
    text-align: center;
}

ul.funlist {
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;  
    font-size: 15pt;    
    text-align: center; 
    list-style-position: inside; 
}


.v-games {
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    font-size: 20pt;
    text-decoration-line: underline; 
    font-weight: bold;
    text-align: center; 
}

ol.gameslist {
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;  
    font-size: 15pt;     
    text-align: center; 
    list-style-position: inside;
}

.lizard { 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 20%; 
    width: auto; 
}

.zelda { 
    display: block;  
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 20%;
    width: auto; 
}

.socials {
    background-color: #9b836d;
    padding: 10px 0px 10px 0px;
}

#soso1 {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

#soso2 {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

#sovis {
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    font-size: 25pt;
    text-shadow: 5px 5px 5px black; 
    text-align: center;
}




