body {
    background-color: #f5f5dc;
}

h1 {
    font-size: 50pt; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    text-align: center;
    background-color:  #f5f5dc;
    text-shadow: 2px 2px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold; 
    text-align: center; 
    background-color: white; 
}

.white-background {
    background-color: white;
    padding-top: 25px; 
    padding-bottom: 25px; 
    width: 2000; 
}