body {
    background-color: #f5f5dc;
    width: auto; 
    height: auto; 
    margin-right: 5px; 
    margin-left: 5px; 
    margin-top: 0px; 
    margin-bottom: 0px;
}

.brwn-background {
    background-color: #9b836d;
    padding-top: 113px; 
    padding-bottom: 113px;
    padding-left: 5px; 
    padding-right: 5px; 
    margin-left: -5px;
    margin-right: -5px; 
    height: auto; 
    width: auto; 
}

.black-head {
    font-size: 20pt; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    text-align: center; 
    text-shadow: 5px 5px 5px white; 
    color: black;
}

.white-head {
    font-size: 20pt; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    text-align: center; 
    text-shadow: 5px 5px 5px black; 
    color: white;
}

.white-text {
    font-size: 15pt; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    text-align: center; 
    color: white;
}

.black-text {
    font-size: 15pt; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    text-align: center; 
    color: black;
}
 
h2 {
    font-size: 50pt; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    text-align: center;
    text-shadow: 5px 5px 5px white;
}

@media (min-width: 300px) {

    h2 {
        font-size: 30pt;
    }
    .white-head {
        font-size: 15pt; 
    }
    .white-text {
        font-size: 10pt; 
    }
    .black-text {
        font-size: 10pt; 
    }
}

@media (min-width: 700px) {

    h2 {
        font-size: 40pt;
    }
    .white-head {
        font-size: 15pt; 
    }
    .white-text {
        font-size: 10pt; 
    }
    .black-text {
        font-size: 10pt; 
    }

}

@media (min-width: 1200px) {

    h2 {
        font-size: 50pt;
    }

    .white-head {
        font-size: 20pt; 
    }
    .white-text {
        font-size: 15pt; 
    }
    .black-text {
        font-size: 15pt; 
    }

}