:root {
   
    /* TEXT SCALE  */
     --text-sm: .875rem; 
     --text-md: 1.25; 
     --text-lg: 1.5rem; 
     --text-xl: 3rem; 
 
     /* SPACING SCALE */
     --space-4xl: 10rem; 
     --space-2xl: 5rem; 
     --space-xl: 2.5rem; 
     --space-lg: 2rem; 
     --space-md: 1.5rem; 
     --space-base: 1rem;
     --space-sm: 12px; 
     --space-xs: 8px; 
 
    }
 
 
 body {
     background-color: #f5f5dc;
     margin-right: 0px; 
     margin-left: 0px; 
     margin-top: 0px; 
     margin-bottom: 0px;
 }
 
 h1 {
    font-size: 50pt; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    text-align: center;
    text-shadow: 5px 5px 5px white;
    
} 
h2 {
    font-size: 30pt; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
} 

h3 {
    font-size: 20pt; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
} 

.about-dib {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
}

.brn-background {
    background-color: #9b836d;
    padding-top: 113px; 
    padding-bottom: 113px;
    height: auto; 
    width: auto; 
}

h4 {
    color:white;
    font-size: 20pt; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
} 

p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
}