
body {
background-color:bisque;
}

p {
padding-top: 100px; 
padding-left: 30px; 
padding-right: 30px; 

}
.span-box {
    display: block; 
    width: 100px; 
    height: 100px; 
    padding: 5px;
}

