
body {
background-color:bisque;
}

p {
padding-top: 100px; 
padding-left: 30px; 
padding-right: 30px; 

}
.span-box {
    display: inline; 
    width: 5px; 
    height: 10px; 
    padding: 18px;
    border: 1px black; 
    background-color: green; 
}